/* 20. Contact */
.contact {
  border: 1px solid #eaedff;
  padding: 40px 10px;
  margin-bottom: 36px;

  a {
    color: #647589;
  }
}

//.contact-area {
//  background-position: center center;
//  background-repeat: no-repeat;
//}
//
.contact__icon {
  background: #fff;
  height: 150px;
  width: 150px;
  color: #ffffff;
  border-radius: 50%;
  line-height: 135px;
  border: 10px solid #fff;
  box-shadow: 0 4px 16px 0 rgba(206, 226, 255, 0.3);
  margin-bottom: 40px;
  display: inline-block;
}

.contact h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

.contact p {
  margin: 0;
}

//.contact-form input {
//  background: #ffffff;
//  height: 80px;
//  width: 100%;
//  padding: 0 50px;
//  padding-right: 30px;
//  border: 0;
//  color: #aab5ca;
//  font-weight: 500;
//  letter-spacing: 2px;
//  text-transform: uppercase;
//}
//
//.contact-form textarea {
//  color: #aab5ca;
//  font-weight: 500;
//  letter-spacing: 2px;
//  text-transform: uppercase;
//  height: 300px;
//  width: 100%;
//  padding: 30px 50px;
//  border: 0;
//}
//
//.form-box::before {
//  position: absolute;
//  content: "";
//  font-family: "Font Awesome 5 Free";
//  font-weight: 700;
//  display: inline-block;
//  font-size: 14px;
//  text-align: center;
//  left: 45px;
//  color: #756563;
//  top: 29px;
//  z-index: 99;
//}
//
//.contact-form input::-moz-placeholder, .contact-form input::placeholder {
//  color: #aab5ca;
//}
//
//.contact-form textarea::-moz-placeholder, .contact-form textarea::placeholder {
//  color: #aab5ca;
//}
//
//.contact-map {
//  height: 670px;
//  width: 100%;
//}
//
//.contact-form .form-box {
//  position: relative;
//}


.gis-map {
  display: flex;
}

.gis-map iframe {
  border-width: 0 !important;
  width: 100%;
  max-width: 100%;
}
